:root{
  --azul:       #142C51;
  --azulT:      #142c51aa;
  --azul-claro: #3f72c4;
  --azul2:      #333333;
  --verde2:     #056D12;
  --verde1:     #028202;
  --verde3:     #135C32;
  --verde4:     #0D4734;
  --papelVerde: rgb(43%, 67%, 42%);
}